.navbar-nav > li > a.navbar-brand {
	padding-top: 10px;
}
.promo_motto .promo_motto_txt {
	margin-left: 30px;
	color: #808080;
}
.navbar-nav li {
	position: relative;
	left: -50%;
}

.navbar-nav > li > .dropdown-menu > li {left: 0;}

.navbar-nav .active::after {
    content: '';
    height: 20px;
    background-image: url(../images/new/selector.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -21px;
    left: 0px;
    width: 100%;
    background-position: center top;
}

/*SOTY*/

.soty {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*SOTY*/

/*SOCIALS*/

.social_hexagon {
	top: -15px;
    position: absolute;
    right: 15px;
}
.main_social_hexa {top: -40px;}

.hexa_ytube:hover {
	opacity: 0.5;
	cursor: no-drop;
}
.hexa_docker {position: absolute;top: 32px;right: 0px;}
.hexa_fb {position: absolute;top: 0px;right: 18px;}
.hexa_twitter {position: absolute;top: 32px;right: 38px;}
.hexa_bitbucket {position: absolute;top: 0px;right: 56px;}
.hexa_linkedin {position: absolute;top: 32px;right: 76px;}
.hexa_ytube {position: absolute;top: 0px;right: 94px;}

/*SOCIALS*/


/*==========PROJECT PAGE==========*/
.project_item {
	margin: 30px 0;
}
.project_item_img,
.project_item_text {
	display: inline-block;
}
.project_item_img {
	margin-right: 20px;
}
.project_item_text {
	vertical-align: middle;
}
.prod_name {
	font-size: 24px;
	color: #5c5c5c;
}
.prod_descr {
	font-size: 14px;
	color: #969696;
}

/*==========PROJECT PAGE==========*/

/*==========CONTACT PAGE==========*/

.contacts_wrapp {
	padding: 0;
	float: right;
}
.contact_block {
	margin-bottom: 49px;
}

.contact_subttl {
	font-size: 24px;
	color: #f59f2d;
}
.cont_sp {
	font-size: 18px;
	color: #969696;
}
.contact_info {
	color: #5c5c5c;
	font-size: 20px;
}
.contact_data {
	font-size: 14px;
	margin-left: 15px;
    color: #5c5c5c;
}
.contact_data:focus,
.contact_data:hover {
    color: #5c5c5c;
    text-decoration: none;
}
.contact_icon {
	width: 20px;
	text-align: center;
	vertical-align: middle;
}
.contact_ask {
	font-size: 24px;
	color: #969696;
	margin-top: -30px;
}
label {
	margin: 25px 0 10px 0;
	font-size: 18px;
	color: #707070;
	font-weight: 400;
}
input, textarea {
	width: 100%;
	padding: 12px;
	border-radius: 15px;
	outline: none;
	border: 1px solid #f59f2d;
	position: relative;
}
textarea {
	height: 320px;
	resize: none;
}
.any_question {
	font-size: 14px;
	color: #969696;
	margin-top: 20px;
}
input[type="submit"] {
    background: #f59f2d;
    padding: 5px;
	width: 160px;
	color: #fff;
	transition: opacity .3s ease-in-out;
	float: right;
	margin: 10px 0 0 0;
}
input[type="submit"]:hover {
    opacity: .8;
    transition: opacity .3s ease-in-out;
}

#map-holder1, #map-holder2 {
	margin-top: 15px;
	overflow: hidden;
}

/*==========CONTACT PAGE==========*/

.footer_adress {
	font-size: 16px;
	color: #e6e6e6;
	display: block;
}
.sota_shadow {
    background-image: url(../images/sota_sh.png);
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 105px;
    width: 262px;
    background-repeat: no-repeat;
    max-width: 100%;
}
.sota_shadow2 {
    background-image: url(../images/sota_sh2.png);
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 105px;
    width: 191px;
    background-repeat: no-repeat;
    max-width: 100%;
}
.sota_shadow3 {
    background-image: url(../images/sota_sh3.png);
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 105px;
    width: 191px;
    background-repeat: no-repeat;
    max-width: 100%;
}
/*MEDIA*/

.navbar-prefooter ul li a {
	font-size: 16px;
}
.navbar-prefooter .prefooter-mobile-toggler {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 50px;
	top: 0;
	display: none;
	cursor: pointer;
}
.navbar-prefooter .nav-section {
	position: relative;
}

@media screen and (max-width: 1199px) {
	.seo {
	    right: 80px;
	    top: 190px;
	}
	.navbar-prefooter ul li a {
		font-size: 15px;
	}
}
@media screen and (max-width: 991px) {
	.navbar-nav li a {
		font-size: 14px !important;
	}
    .navbar-header {
    	margin-left: 110px;
 	}
	.promo_motto {
		margin-left: 0;
	}
	.apps{top: 235px; left: 40px;}
	.seo {top: 215px; left: 78.5%;}
	.online_ent {top: 325px; left: 410px;}
	.web_site {top: 570px; left: 8px;}
	.main-hexagon {top: 325px; left: 105px;}
	.e_commerce {top: 80px; left: 240px;}
	
	.project_item {
		text-align: center;
	}

	.contacts_wrapp {
		padding: inherit;
	}
	.active::after {
		background-size: 100%;
		max-width: 106px;
	}
	.nav-section {
    	width: 22%;
   	 	margin-right: 3%;
	}
}
@media screen and (min-width: 767px) {
	.navbar-prefooter ul {
		display: block !important;
	}
}
@media screen and (max-width: 767px) {
	
	.navbar-collapse .navbar-nav {
		float: none;
		left: 0;
	}
	.navbar-nav li {left: 0;}
	.navbar-nav > li > a {padding: 26px;}

	.content-wrapper {
   		padding: 35px 0;
    	overflow-y: hidden; 
  	  	/*min-height: auto;*/
    	height: auto;
	}
	.navbar-nav li a {
		font-size: 17px !important;
	}
	.navbar-header {
    	margin-left: 0;
 	}
	/*=====SOTY=====*/
	.soty {
		margin: 20px 0;
	}
	[class^=hexagon] {
		display: inline-block;
	}
	[class^=hexagon] div.cube {
		display: none;
	}
	[class^=hexagon]:hover {
		text-decoration: none;
	}
	[class^=hexagon] div.text {
		width: 100%;
		height: auto;
		display: block;
		padding: 15px;
	}
	.social_hexagon div.text {
		padding: 0;
	}
	.apps {
	    width: 49.5%;
		height: auto; 
		background-color: #f59f2d;
		margin: 0; 
		position: static; 
		top: 0;
		left: 0;
	}
	.special_hexa:before,
	.special_hexa:after {
		display: none;
	}

	.e_commerce {
	    width: 49.7%;
	    height: auto;
	    background-color: #f59f2d;
	    position: static;
	    top: 0;
	    left: 0;
	    margin: 0;
	}

	.main-hexagon {
	    width: 100%;
	    height: 80px;
	    background-size: contain;
	    position: static;
	    top: 0;
	    left: 0;
	    margin: 0;
	    background-image: url(../images/ms-icon-310x310.png);
    	background-color: #f59f2d;
    	background-repeat: no-repeat;
    	margin: 5px 0;
	}
	.hexTop, 
	.hexBottom {
		display: none;
	}
	.hexa_link {
		text-decoration: none !important;
	}

	.seo {
	    width: 49.7%;
	    height: auto; 
	    background-color: #f59f2d;
	    margin: 0; 
	    position: static; 
	    top: 0;
	    right: 0;
	}
	.web_site {
	    width: 49.5%;
	    height: auto;
	    background-color: #f59f2d;
	    margin: 0;
	    position: static;
	    top: 0;
	    left: 0;
	}

	.online_ent {
	    width: 100%;
	    height: auto;
	    background-color: #f59f2d;
	    margin: 0;
	    position: static;
	    top: 0;
	    left: 0;
	    margin: 5px 0;
	}

	.no_active {
  		background-color: #8c8c8c;
	}

	.promo_text {
	 	position: static; 
	 	text-align: left; 
	    width: 100%;
	    font-family: Consolas, sans-serif;
	}
	.contacts_wrapp {
		text-align: center;
		float: none;
	}
	.research_blck {
	    margin-top: 40px;
	}
	.contact_ask {
		margin-top: 0;
	}
	.active::after {
		display: none;
	}
	.sota_shadow, .sota_shadow2, .sota_shadow3 {display: none;}

	input[type="submit"] {
		margin: 10px 0;
    	display: block;
	}
	.nav-section {
	    display: block;
	    width: 100%;
	    margin: 0;
	}
	.nav-section ul {
	    display: none;
	}
	.navbar-prefooter ul li a {
		font-size: 16px;
	}
	.navbar-prefooter .prefooter-mobile-toggler {
		display: block;
	}

	#map-holder1, #map-holder2 {overflow: auto;}
}

@media screen and (max-width: 540px) {
	.special_hexa {
		width: 100%;
	}
	.e_commerce, .seo {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 520px) {
	.promo_motto .promo_motto_txt {
		margin-left: 0;
	}
	.promo_motto {
		text-align: center;
	}
	.hexagon-social {
		position: static;
		margin: 0;
	    height: 23.48px;
	}
	.not_main_page {
		top: 0;
	}
}

@media screen and (max-width: 450px) {
	input,textarea {
		width: 100%;
	}
}

/*MEDIA*/


/*правки 06102016*/

/* Вирівняти надпис WE CREATE YOUR  BUSINESS SOLUTION та logo з меню футера*/
.promo_motto {
	margin-left: 0;
}
@media (min-width: 768px) {
	.navbar-header {
		margin-left: 25px;
	}
}
.navbar-default .navbar-collapse {
	text-align: center;
}
.navbar-nav {
	position: relative;
	left: 50%;
	float: left;
}
/*стрелочка - чтоб не перекрывалось*/
.active::after {
	z-index: -1;
}

/*текст под формой*/
.any_question {
	max-width: 100%;
	margin: 0 auto;
}
@media (min-width: 768px) {
	.any_question {
		margin-top: 20px;
		margin-left: 0;
		margin-right: 0;
	}
}

/*контент на всю высоту, убран скролл */
.content-wrapper {
	overflow-y: visible;
	height: auto;
}
.container.theme-showcase > div.col-md-12 {
	z-index: 1;
	background: #fff;
}

/*оранжевый beedevs */
.beedevs-orange {
	color: #f59f2d;
}
/*списки*/
.theme-showcase li {
	color: #f59f2d; /* Цвет маркера */
	content: "•"; /* Сам маркер */
	font-size: 18px;
	padding-right: 0px; /* Расстояние от маркера до текста */
}

.theme-showcase li span {
	color: #969696; /* Цвет маркера */
}

.soon {
	font-size: 14px;
	color: #969696;
}

/*ПОРТФОЛИО*/
.projects {

}

.projects-title {
	font-size: 40px;
	text-align: center;
	color: #000;
}
.projects-title-description {
	margin-top: -15px;
	font-size: 25px;
	text-align: center;
	color: #000;
}

.project {
	padding-top: 40px;
	padding-bottom: 30px;
}
.project:nth-child(odd) {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.project:nth-child(even) {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.project:first-child {
	border-right: 0;
}
.project-left {
	padding-top: 10px;
	text-align: center;
}
.project-left-img {
	max-width: 100%;
	height: auto;
}
.project-right {
	font-size: 12px !important;
	color: #333 !important;
}
.project-title {
	margin-top: 0;
	font-size: 30px;
	text-transform: uppercase;
	text-align: left;
}
.project-type {

}
.project-subject {

}
.project-description {

}
.project-view-btn {
	display: inline-block;
	margin: 20px auto;
	padding: 10px 40px;
	border: 2px solid #333333;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	color: #333333;
}
.project-view-btn:hover {
	text-decoration: none;
	border-color: #f59f2d;
}

.projects-paginator {
	text-align: center;
}


.pageinfo-content {
	text-align: center;
}
.projectinfo-category {
	font-size: 16px;
}
.projectinfo-title {
	margin-bottom: 10px;
	font-size: 40px;
}
.projectinfo-title-description {
	margin-bottom: 35px;
	font-size: 16px;
}
.projectinfo-img {
	margin-bottom: 40px;
	max-width: 100%;
	height: auto;
}
.projectinfo-type {
	text-align: left;
	margin-bottom: 40px;
}
.projectinfo-features {
	text-align: left;
}
.projectinfo-features-title {

}
.projectinfo-features-text {
	padding-right: 30px;

}
.projectinfo-about {
	text-align: left;
}
.projectinfo-about-title {

}
.projectinfo-about-text {
	padding-right: 30px;
}
.projectinfo-services {
	text-align: left;
}
.projectinfo-services-title {

}
.projectinfo-services-text {

}
.projectinfo-services-link {
	display: block;
}
.projectinfo-more {
	text-align: left;
}
.projectinfo-more-link {
	display: block;
}
