<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>beeDEVS</title>

    {% block head_assets %}
        {% include 'base/head_assets.html.twig' %}
    {% endblock head_assets %}

    {% block analytics %}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-86242702-1', 'auto');
            ga('send', 'pageview');
        </script>
    {% endblock analytics %}
</head>

<body>

    <div class="main_wrapp">

        {% block header %}
            {% include 'base/header.html.twig' %}
        {% endblock header %}


        {% block content %}
        {% endblock content %}


        {% block footer %}
            {% include 'base/footer.html.twig' %}
        {% endblock footer %}

    </div>

    {% block footer_assets %}
        {% include 'base/footer_assets.html.twig' %}
    {% endblock footer_assets %}

    {% block scripts %}
    {% endblock scripts %}

</body>
</html>