{% extends 'base/base.html.twig' %}

{% block content %}
    <div class="content-wrapper">

        <div class="container theme-showcase" role="main">

            <!-- SOCIALS -->
            {% block socials %}
                {% include 'base/socials.html.twig' %}
            {% endblock socials %}
            <!-- SOCIALS -->

            <!-- PAGE CONTENT  -->
            {% block page %}
            {% endblock page %}
            <!-- PAGE CONTENT  -->

        </div>

        <div class="push"></div>

    </div>
{% endblock content %}