<!-- FOOTER -->

<nav class="navbar navbar-prefooter">
    <div class="container">
        <div class="col-md-12">
            <div class="nav-section">
                <h3>Services</h3>
                <div class="prefooter-mobile-toggler"></div>
                <ul>
                    <li><a href="#">Business Solutions</a></li>
                    <li><a href="#">Web Applications</a></li>
                    <li><a href="#">Mobile Applications</a></li>
                    <li><a href="#">Symfony</a></li>
                    <li><a href="#">ReactJS</a></li>
                </ul>
            </div>
            <div class="nav-section">
                <h3>Products</h3>
                <div class="prefooter-mobile-toggler"></div>
                <ul>
                    <li><a href="#">beeEasy Engine</a><i class="soon"> soon!</i></li>
                    {#<li><a href="./products">Video Capture<i class="fa fa-apple" style="color:#979797;padding: 0 3px;"></i><i class="fa fa-android" style="color:#a4cb2a;padding: 0 3px;"></i></a></li>#}
                </ul>
            </div>
            <div class="nav-section">
                <h3>Portfolio</h3>
                <div class="prefooter-mobile-toggler"></div>
                <ul>
                    <li><a href="{{ url('website/$1', 1) }}">Website</a></li>
                    <li><a href="{{ url('website/$1', 1) }}">eCommerce Site</a></li>
                    <li><a>Online Entertainment</a></li>
                </ul>
            </div>
            <div class="nav-section">
                <h3>Contacts</h3>
                <div class="prefooter-mobile-toggler"></div>
                <ul>
                    {#<li><a href="tel:+380976775752"><i class="fa fa-phone" style="color:#42929D;padding: 0 7px 0 3px;"></i>+380976775752</a></li>#}
                    <li><a href="mailto:team@beedevs.com"><i class="fa fa-envelope" style="color:#fd5b53;padding: 0 7px 0 3px;"></i>team@beedevs.com</a></li>
                    <li><a href="http://facebook.com/beedevs"><i class="fa fa-facebook-official" style="color:#3b579d;padding: 0 7px 0 3px;"></i>Facebook</a></li>
                    <li><a href="https://twitter.com/beedevs"><i class="fa fa-twitter-square" style="color:#c91d20;padding: 0 7px 0 3px;"></i>Twitter</a></li>
                    <li><a href="skype:adellantado?chat"><i class="fa fa-skype" style="color:#00a8ee;padding: 0 7px 0 3px;"></i>beedevs</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-footer">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="footer_info_left">beeDEVS © 2015 - {{ "now"|date("Y") }}</div>
            </div>
            <div class="footer_info_right col-md-6">
                <a href="mailto:team@beedevs.com">team@beedevs.com</a>
                <span class="footer_adress">Kyiv, Metalistiv St, 5</span>
            </div>
        </div>
    </div>
</nav>
<!-- FOOTER -->