<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('index') }}">bee<span>DEVS</span></a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-12 head_nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{ url('index') }}" class="navbar-brand"><img src="{{ asset('images/new/logo.png') }}" title="beeDEVS" alt="beeDEVS" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a {% if active == 'home' %} class="active" {% endif %} href="{{ url('index') }}">Home</a></li>
                        <li><a {% if active == 'portfolio' %} class="active" {% endif %} href="{{ url('website/$1', 1) }}">Portfolio</a></li>
                        <li><a {% if active == 'about-us' %}class="active"{% endif %} href="{{ url('about_us') }}">About Us</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle {% if active == 'services' %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url('custom_software') }}">Custom Software</a></li>
                                <li><a href="{{ url('quality_assurance') }}">Quality Assurance</a></li>
                                <li><a href="#">Graphic Design</a></li>
                                <li><a href="#">Project Management</a></li>
                                <li><a href="{{ url('it_consulting') }}">IT Consulting</a></li>
                                {#<li role="separator" class="divider"></li>#}
                                {#<li class="dropdown-header">Nav header</li>#}
                            </ul>
                        </li>
                        <!--<li><a href="./clients">Clients</a></li>-->
                        <li><a {% if active == 'contact' %}class="active"{% endif %} href="{{ url('contact') }}">Contact</a></li>

                    </ul>
                    <div class="on_page"></div>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="clear"></div>
</nav>