<div class="social_hexagon">
    <a href="http://facebook.com/beedevs" class="hexa_link">
        <div class="hexagon-social hexagon-32 hexa_fb">
            <div class="text"><i class="fa fa-facebook"></i></div>
        </div>
    </a>
    <a href="https://twitter.com/beedevs" class="hexa_link">
        <div class="hexagon-social hexagon-32 hexa_twitter">
            <div class="text"><i class="fa fa-twitter"></i></div>
        </div>
    </a>
    <a href="https://bitbucket.org/beedevs/" class="hexa_link">
        <div class="hexagon-social hexagon-32 hexa_bitbucket">
            <div class="text"><i class="fa fa-bitbucket"></i></div>
        </div>
    </a>
    <a href="https://www.linkedin.com/company/beedevs" class="hexa_link">
        <div class="hexagon-social hexagon-32 hexa_linkedin">
            <div class="text"><i class="fa fa-linkedin"></i></div>
        </div>
    </a>
    <a href="https://hub.docker.com/u/beedevs/" class="hexa_link">
        <div class="hexagon-social hexagon-32 hexa_docker">
            <div class="text"><i class="fa fa-docker"></i></div>
        </div>
    </a>
    {#<a href="#" class="hexa_link">#}
        {#<div class="hexagon-social hexagon-32 hexa_ytube">#}
            {#<div class="text"><i class="fa fa-youtube-play"></i></div>#}
        {#</div>#}
    {#</a>#}
</div>