{% extends 'base/base.html.twig' %}

{% set active = 'about-us' %}

{% block content %}
<div class="content-wrapper">

    <div class="container theme-showcase" role="main">

    <!-- SOCIALS -->

        {% block socials %}
            {% include 'base/socials.html.twig' %}
        {% endblock socials %}
        
    <!-- SOCIALS -->

    <!-- PAGE CONTENT  -->

        <div class="col-md-12">

            <h1>About us</h1>
            <p>We are a software development team. We have gathered experince for years in our main fields of expertise, which are: Web/Mobile Applications development, Business processes improvement, Software development using PHP, Symfony, JS, AngularJS and ReactJS. We providing effective solutions, building software, processing quality assurance and automatedly delivering result to your needs using Agile methodology.</p>

        </div>

        <!-- PAGE CONTENT  -->

    </div>

    <div class="push"></div>

</div>
{% endblock content %}