{% extends 'base/base.html.twig' %}

{% set active = 'contact' %}

{% block content %}
<div class="alert alert-success" role="alert" style="display: none">Message successfully sent</div>
<div class="alert alert-danger" role="alert" style="display: none">Error. Sorry, message hasn't been sent. Try again or contact directly.</div>

<div class="content-wrapper">

    <div class="container theme-showcase" role="main">

    <!-- SOCIALS -->

        {% block socials %}
            {% include 'base/socials.html.twig' %}
        {% endblock socials %}
        
    <!-- SOCIALS -->

    <!-- PAGE CONTENT  -->

        <div class="col-md-12">
            <h1>Contact</h1>
                <div class="col-sm-6 contacts_wrapp">
                    <div class="contact_ask">Ask a Question</div>
                    <form id="contact_form" action="submit.php" method="POST" class="clearfix">
                            <label for="name">Name:</label> <br>
                            <input type="text" id="name" name="name" required> <br>
                            <label for="email">Email:</label> <br>
                            <input type="email" id="email" name="email" required> <br>
                            <label for="text">Message:</label> <br>
                            <textarea id="text" name="text"></textarea>
                            <input type="submit" value="Submit">
                    </form>
                    <div class="any_question">
                        Whether you’re looking for answers, would like to solve a problem, or just want to let us know how we did, contact us up right here
                    </div>
                </div>  
                <div class="col-sm-6 contacts_wrapp research_blck">
                    <div class="contact_block">
                        <div class="contact_subttl">Research and Development Center <br>
                            <span class="cont_sp">beeDEVS Ltd.</span>
                        </div>
                        <div class="contact_info">
                            <div><i class="fa fa-map-marker contact_icon"></i><span class="contact_data">Metalistiv 5A, 03057 Kyiv, Ukraine</span></div>
                            <div><i class="fa fa-phone contact_icon"></i><a class="contact_data" href="tel:+380976775752">+380976775752</a></div>
                            <div><i class="fa fa-envelope-o contact_icon"></i><a class="contact_data" href="mailto:team@beedevs.com">team@beedevs.com</a></div>
                        </div>
                        <div id="map-holder1"></div>
                    </div>

                    <div class="contact_block">
                        <div class="contact_subttl">Sales Office <br>
                            <span class="cont_sp">beeDEVS Ltd.</span>
                        </div>
                        <div class="contact_info">
                            <div><i class="fa fa-map-marker contact_icon"></i><span class="contact_data">Narva mnt 5, 10117 Tallinn, Estonia</span></div>
                            <div><i class="fa fa-phone contact_icon"></i><a class="contact_data" href="tel:+37253638155">+37253638155</a></div>
                            <div><i class="fa fa-envelope-o contact_icon"></i><a class="contact_data" href="mailto:sales@beedevs.com">sales@beedevs.com</a></div>
                        </div>
                        <div id="map-holder2"></div>
                    </div>
                </div>
        </div>

    <!-- PAGE CONTENT  -->

    </div>

    <div class="push"></div>

</div>
{% endblock content %}

{% block scripts %}
<script>

    $('<iframe></iframe>')
            .attr('src', 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1446.620910922977!2d30.45129268147828!3d50.44797066774832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc26faa9d751%3A0xd1a2d94515ef8828!2z0LLRg9C70LjRhtGPINCc0LXRgtCw0LvRltGB0YLRltCyLCA10JAsINCa0LjRl9Cy!5e0!3m2!1suk!2sua!4v1485967074483')
            .attr('width',  Math.min(350, screen.width - 20))
            .attr('height', 240)
            .attr('frameborder', 0)
            .appendTo('#map-holder1');

    $('<iframe></iframe>')
            .attr('src', 'https://www.google.com/maps/embed/v1/place?q=Narva%20mnt%205%2C%2010117%20Tallinn%2C%20Estonia&key=AIzaSyBErZvuqGIvbkgTqDzfjN5EZqBCC--mfCE')
            .attr('width',  Math.min(350, screen.width - 20))
            .attr('height', 240)
            .attr('frameborder', 0)
            .appendTo('#map-holder2');

    $(document).ready(function () {
        $('#contact_form').on('submit', function() {
            $.ajax({
                type: "POST",
                url: "submit",
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    text: $('#text').val()
                },
                dataType: "text",
                success: function () {
                    $('.alert-success').show('slow').delay(4000).hide('slow');
                },
                error: function () {
                    $('.alert-danger').show('slow').delay(4000).hide('slow');
                }
            });
            return false;
        });
    });

</script>
{% endblock scripts %}
