{% extends 'base/empty.html.twig' %}

{% set active = 'services' %}

{% block page %}
    <div class="col-md-12">

        <h1>
            Custom Software
        </h1>
        <p>
            Custom software development is the designing of software applications for a specific user or group of
            users within an organization. Such software is designed to address their needs precisely as opposed to
            the more traditional and widespread off-the-shelf software. Such software is typically created just for
            that specific entity by a third-party by contract or in-house group of developers and is not packaged
            for reselling.
        </p>
        <h2>
            Custom software vs. off the shelf
        </h2>
        <p>
            Off-the-shelf software consists of a packaged software application available to a large audience with
            varying, albeit fundamentally similar needs. For example, Microsoft Word is designed for the mass public
            as a diverse solution to the many different needs of its users. It does not, however, cater to any
            specific entity like custom software would.
            Customized software development entails the commissioning, development and release of a software product
            tailored to a single specific entity. For example, an application created for JPMorgan Chase would only
            be used by that company and the department for which it was designed. The software is designed keeping
            the company’s infrastructure, branding and implementation needs in mind, implying it can only work for
            that organization.
        </p>
        <h2>
            The pros of custom software development
        </h2>
        <p>
            The benefit to custom software is the simple fact it provides features off-the-shelf software doesn’t.
            Designing an application with your organization’s needs in consideration implies an increased level of
            productivity.
            If you have a software application designed to increase productivity or address an internal need, the
            cost of it is offset by the promise of increased efficiency. If your organization has a need unique
            enough to warrant for custom software, then customizing a solution rather than settling for an
            off-the-shelf application becomes a smart course of action.
        </p>
        <h2>
            The cons of custom software development
        </h2>
        <p>
            Whereas you can purchase an off-the-shelf software application for dollars, customized software requires
            significantly more resources to design and thus comes with an inherently high amount of costs and risks.
            When a business decides to begin development on custom software, it has to cover all costs associated
            with the development process. In the end, cost alone can amount to the five-figure range. Off-the-shelf
            software can afford a low price point because the cost is being distributed between many different
            users, whereas custom software is created for one user: your company.
            The risks associated with custom software vary in accordance to the user being developed for. The
            purchasing company must have an in-depth understanding of their needs and how they want the end product
            to address that need. Identifying new needs during the development process isn’t uncommon, though it
            results in added costs as more development time and effort is required. The risk of frequent changes
            such as these can result in a loss of project scope, or scope creep as it’s called in the project
            management world, and can result in an end product different or insufficient to the original needs.
        </p>
        <h2>
            Custom software development services
        </h2>
        <p>
            Picking a company to create a software application for your business isn’t an easy task. Most small and
            large businesses alike must search for local companies to bid for work, and then pick the company that
            promises the right price and level of services. These companies typically meet with the requesting
            organization to assess their needs and determine the total amount of work required to create the custom
            software.
            After that, they put in a bid to identify how much development time is required and the cost associated.
            These bids are never set in stone as some projects may require additional time and may thus cost more.
            Picking a company should never come down to money, but should instead be a choice on the company that
            will be the most flexible and willing to work with the contracting business.
        </p>

    </div>
{% endblock page %}