<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>beeDEVS</title>

	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="manifest" href="images/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
	<meta name="theme-color" content="#f59f2d">

	<!-- Bootstrap -->
	<link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/main.css">

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!-- [if lt IE 9]> -->
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<!-- <![endif] -->
</head>

<body role="document">


<!-- HEADER -->

<div class="main_wrapp">
<nav class="navbar navbar-inverse"><!-- navbar-fixed-top-->
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="./">bee<span>DEVS</span></a>
		</div>
	</div>
</nav>
<nav class="navbar navbar-default">
	<div class="container">
	<div class="row">
	<div class="col-md-12 head_nav">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="./" class="navbar-brand"><img src="images/new/logo.png" title="beeDEVS" alt="beeDEVS" /></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="./">Home</a></li>
				<!--<li><a href="./products">Products</a></li>-->
				<li><a href="./about-us">About Us</a></li>
				<li><a href="./services">Services</a></li>
				<!--<li><a href="./clients">Clients</a></li>-->
				<li><a href="./contacts">Contact</a></li>
				<!--<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Nav header</li>
						<li><a href="#">Separated link</a></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>-->
			</ul>
			<div class="on_page"></div>
		</div><!--/.nav-collapse -->
		</div>
		</div>
	</div>
	<div class="clear"></div>
</nav>

<!-- HEADER -->

<!-- PAGE CONTENT  -->



  <div class="content-wrapper">

    <div class="container theme-showcase" role="main">

    <!-- SOCIALS -->

        <div class="social_hexagon not_main_page">
            <a href="#" class="hexa_link">
                <div class="hexagon-social hexagon-32 hexa_ytube">
                    <div class="text"><i class="fa fa-youtube-play"></i></div>
                </div>
            </a>
            <a href="http://facebook.com/beedevs" class="hexa_link">
                <div class="hexagon-social hexagon-32 hexa_fb">
                    <div class="text"><i class="fa fa-facebook"></i></div>
                </div>
            </a>
            <a href="#" class="hexa_link">
                <div class="hexagon-social hexagon-32 hexa_twitter">
                    <div class="text"><i class="fa fa-twitter"></i></div>
                </div>
            </a>
        </div>

        <!-- SOCIALS -->

        <!-- PAGE CONTENT  -->

       	

        <!-- PAGE CONTENT  -->
    </div>

    <div class="push"></div>

</div>



<!-- PAGE CONTENT  -->

<!-- FOOTER -->

<nav class="navbar navbar-prefooter">
    <div class="container">
	    <div class="col-md-12">
	        <div class="nav-section">
	            <h3>Services</h3>
	            <div class="prefooter-mobile-toggler"></div>
	            <ul>
	                <li><a href="./custom-software">Custom Software</a></li>
	                <li><a href="./quality-assurance">Quality Assurance</a></li>
	                <li><a href="./graphic-design">Graphic Design</a></li>
	                <li><a href="./project-management">Project Management</a></li>
	                <li><a href="./it-consulting">IT Consulting</a></li>
	            </ul>
	        </div>
	        <div class="nav-section">
	            <h3>Products</h3>
	            <div class="prefooter-mobile-toggler"></div>
	            <ul>
	                <li><a href="./products">Video Capture<i class="fa fa-apple" style="color:#979797;padding: 0 3px;"></i><i class="fa fa-android" style="color:#a4cb2a;padding: 0 3px;"></i></a></li>
	            </ul>
	        </div>
	        <div class="nav-section">
	            <h3>Portfolio</h3>
	            <div class="prefooter-mobile-toggler"></div>
	            <ul>
	                <li><a href="./mobile-app">Mobile App</a></li>
	                <li><a href="./website">Website</a></li>
	                <li><a href="./ecommerce-site">eCommerce Site</a></li>
	                <li><a href="./online-entertainment">Online Entertainment</a></li>
	            </ul>
	        </div>
	        <div class="nav-section">
	            <h3>Contacts</h3>
	            <div class="prefooter-mobile-toggler"></div>
	            <ul>
	            	<li><a href="tel:+380976775752"><i class="fa fa-phone" style="color:#42929D;padding: 0 7px 0 3px;"></i>+380976775752</a></li>
	                <li><a href="mailto:team@beedevs.com"><i class="fa fa-envelope" style="color:#fd5b53;padding: 0 7px 0 3px;"></i>team@beedevs.com</a></li>
	                <li><a href="http://facebook.com/beedevs"><i class="fa fa-facebook-official" style="color:#3b579d;padding: 0 7px 0 3px;"></i>Facebook</a></li>
	                <li><a href="#"><i class="fa fa-youtube-play" style="color:#c91d20;padding: 0 7px 0 3px;"></i>YouTube</a></li>
	                <li><a href="skype:adellantado?chat"><i class="fa fa-skype" style="color:#00a8ee;padding: 0 7px 0 3px;"></i>adellantado</a></li>
	            </ul>
	        </div>
	    </div>
    </div>
</nav>

<nav class="navbar navbar-footer">
    <div class="container">
        <div class="col-md-12">
            <div class="col-md-6">
                <div class="footer_info_left">beeDEVS © 2015 - {{ "now"|date("Y") }}</div>
            </div>
            <div class="footer_info_right col-md-6">
                <a href="mailto:beedevs@gmail.com">team@beedevs.com</a>
                <span class="footer_adress">Kyiv, Metalistiv St, 5</span>
            </div>
    </div>
</nav>
</div>
<!-- FOOTER -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</body>
</html>