{% extends 'base/base.html.twig' %}

{% set active = 'home' %}

{% block content %}
<div class="container theme-showcase" role="main">

		<div class="main_page_area">

			<div class="promo_motto">
				<span>We create</span> your <br />
				<span class="promo_motto_txt">business solution</span>
			</div>

			<div class="soty">

				<!-- SOCIALS -->

				{% block socials %}
					{% include 'base/socials.html.twig' %}
				{% endblock socials %}

				<!-- SOCIALS -->

				<a href="{{ url('website/$1', 1) }}" class="hexa_link">
					<div class="hexagon-260 e_commerce special_hexa">
						<div class="cube"></div><div class="text">BUSINESS SOLUTIONS</div>
						<div class="sota_shadow"></div>
					</div>
				</a>

				<a href="#" class="hexa_link">
					<div class="hexagon-125 apps special_hexa">
						<div class="cube"></div><div class="text">Mobile<br>Apps</div>
						<div class="sota_shadow3"></div>
					</div>
				</a>

				<a href="{{ url('about_us') }}">
					<div class="main-hexagon special_hexa">
						<div class="hexTop"></div>
						<div class="hexBottom"></div>
						<div class="sota_shadow"></div>
					</div>
				</a>

				<a href="#" class="hexa_link">
					<div class="hexagon-125 seo special_hexa">
						<div class="cube"></div><div class="text">REACT.JS</div>
						<div class="sota_shadow3"></div>
					</div>
				</a>
				<a href="{{ url('website/$1', 1) }}" class="hexa_link">
					<div class="hexagon-190 web_site special_hexa">
						<div class="cube"></div><div class="text">SYMFONY</div>
						<div class="sota_shadow2"></div>
					</div>
				</a>
				<a href="{{ url('game_studio') }}" class="hexa_link">
					<div class="hexagon-190 online_ent special_hexa">
						<div class="cube"></div><div class="text">Game<br>Studio</div>
						<div class="sota_shadow2"></div>
					</div>
				</a>
			</div>

			<div class="promo_text">
				CREATING A SOFTWARE FROM beeDEVS -
				MEANS RELY ON TRUSTED PROFESSIONALS,
				THAT'S YOUR GUARANTEE TO GET 100% DEDICATION
				AND FULFILLED RESULT. DURING OUR WORK WE HAVE
				IMPLEMENTED MANY PROJECTS THAT
				HELP CUSTOMERS REACH THEIR GOALS
			</div>

			<div class="clear"></div>
		</div>
</div>
{% endblock content %}