{% extends 'base/empty.html.twig' %}

{% set active = 'services' %}

{% block page %}
    <div class="col-md-12">

        <h1>
            IT Consulting
        </h1>
        <p>
            IT consulting services concentrate on advising businesses on how best
            to use their information technology to obtain their business objectives.
            IT consultants focus on correctly estimating, managing, implementing,
            deploying, and monitoring IT systems on behalf of their clients an
            application also known as outsourcing.
            However, IT consulting is more than a cut and dry industry. IT consultants
            cultivate relationships with their partners to build rapport and trust.
            Doing so requires them to understand the fundamentals of your company
            and stay parallel with your mission as a whole. Your company’s mission is
            your opportunity to clearly state your goals, ethics, culture, and norms for
            decision making. With our IT consulting services, your technology can you
            extend far past your mission at hand.
            Here at <span>beeDEVS</span>, we are passionate and experienced engineers that find
            value in working together and creating a personalized IT roadmap specific
            to your company. We understand that your vision is meant to set a level of
            expectation when pursued. And that accomplishing your vision requires
            hard work and determination. We offer a unique set of IT consulting
            services that continues to take your company in the direction you want to
            move toward.
            <br/><br/>
            We offer strategy, architecture, implementation and integration services
            covering the major ICT domains and delivery models to help you plan and build innovative
            solutions and optimise your IT environment.
        </p>
        <h2>
            Strategy consulting
        </h2>
        <p>
            Our strategy consulting services help you identify and plan powerful and innovative ICT
            services using optimal delivery models that drive real business outcomes. We can help you
            leverage emerging technologies – mobility, cloud and IT-as-a-service – while maximising the
            value of your existing mixed-technology environment. We work with you to develop strategies
            that are founded on our practical implementation experience.
        </p>
        <h2>
            ​Architecture consulting
        </h2>
        <p>
            Our architecture consulting services focus on developing the roadmaps and solution designs for
            integrating new technologies and optimising your current IT environment in line with your broader
            ICT strategy. We have extensive architecture competencies and offerings in areas important to your
            business, from network, communications to end-user computing, applications, service
            management, and security​. Through these services, we support you in designing end-to-end solutions
            that help you realise the greatest value from your technology investment.
        </p>
        <h2>
            ​Implementation and integration services
        </h2>
        <p>
            Through our implementation and integration services, we provide extensive delivery, project, programme,
            and transition management expertise to help you build integrated solutions and prepare for managed, cloud
            or IT outsourcing delivery models. Using proprietary frameworks, methodologies and tools, we simplify
            and de-risk your transformation projects to ensure you realise the desired benefits to the business.
        </p>
    </div>
{% endblock page %}