{% extends 'base/empty.html.twig' %}

{% set active = 'portfolio' %}

{% block page %}
    <div class="projects container">

        <h1 class="projects-title">Design exceptional websites</h1>
        <p class="projects-title-description">Best works of our web studio</p>

        {% for project in projects %}
            <div class="project">
                <div class="row">
                    <div class="project-left col-md-5 col-md-offset-1">
                        <img src="{{ asset(project.small_img) }}" alt="" class="project-left-img">
                    </div>
                    <div class="project-right col-md-5">
                        <h3 class="project-title">{{ project.name }}</h3>
                        <p class="project-type">Type: {{ project.type }}</p>
                        <p class="project-subject">Subject: {{ project.subject }}</p>
                        <p class="project-description">{{ project.about }}</p>
                        <a href="{{ url('website_project/$1', project.name_canonical) }}" class="project-view-btn">VIEW PROJECT</a>
                    </div>
                </div>
            </div>
        {% endfor %}

        <nav aria-label="..." class="projects-paginator">
            <ul class="pagination pagination-lg">
                <li {% if page_num == 1 %}class="disabled"{% endif %}><a href="{% if page_num > 1 %}{{ url('website/$1', page_num-1) }}{% else  %}#{% endif %}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                {% for i in 1..pages_total %}
                    <li {% if page_num == i %}class="active"{% endif %}><a href="{{ url('website/$1', i) }}">{{ i }}</a></li>
                {% endfor %}
                <li {% if page_num == pages_total %}class="disabled"{% endif %}><a href="{% if page_num < pages_total %}{{ url('website/$1', page_num+1) }}{% else  %}#{% endif %}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
        </nav>

    </div>
{% endblock page %}