{% extends 'base/empty.html.twig' %}

{% set active = 'portfolio' %}

{% block page %}
    <div class="pageinfo-content container">
        {#<p class="projectinfo-category">Web design / Programming / Responsive design</p>#}
        <h1 class="projectinfo-title">{{ project.name }}</h1>
        <p class="projectinfo-title-description">{{ project.about_short }}</p>
        <img src="{{ asset(project.medium_img) }}" alt="" class="projectinfo-img">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="projectinfo-features">
                    <h3 class="projectinfo-features-title">FEATURES</h3>
                    <p class="projectinfo-features-text">{{ project.features }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="projectinfo-about">
                    <h3 class="projectinfo-about-title">ABOUT</h3>
                    <p class="projectinfo-about-text">{{ project.about }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
            <div class="projectinfo-type">
                <p>Type: {{ project.type }}</p>
                <p>Subject: {{ project.subject }}</p>
            </div>
        </div>

        {% for image in gallery %}
            <img src="{{ asset(image) }}">
        {% endfor %}
        {#<div class="row">#}
            {#<div class="col-md-4 col-md-offset-2">#}
                {#<div class="projectinfo-services">#}
                    {#<h3 class="projectinfo-services-title">SERVICES</h3>#}
                    {#<p class="projectinfo-services-text">Type: Unique project</p>#}
                    {#<p class="projectinfo-services-text">Subject: Realty</p>#}
                    {#<a href="#" class="projectinfo-services-link">WEB DESIGN</a>#}
                    {#<a href="#" class="projectinfo-services-link">PROGRAMMING</a>#}
                    {#<a href="#" class="projectinfo-services-link">RESPONSIVE DESIGN</a>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-md-4">#}
                {#<div class="projectinfo-more">#}
                    {#<img src="images/projects/paper_fly_small.jpg" alt="">#}
                    {#<a href="#" class="projectinfo-more-link">VISIT LIVE SITE</a>#}
                    {#<a href="#" class="projectinfo-more-link">SHARE FACEBOOK</a>#}
                    {#<a href="#" class="projectinfo-more-link">PREV ❬ MORE PROJECTS ❭ NEXT</a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock page %}